/* Mi Sans */
@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 100;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Thin.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 200;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-ExtraLight.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 300;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Light.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 400;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Normal.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 500;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Regular.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 600;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Medium.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 700;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Demibold.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 800;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Semibold.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 900;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Bold.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 950;
  src: url('https://static.rainiar.top/blog/fonts/MiSans-Heavy.woff2');
}
