/* Mi Sans */
@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 400;
  src: url('/fonts/MiSans-Normal.woff2');
}

@font-face {
  font-display: swap;
  font-family: mi-sans;
  font-weight: 700;
  src: url('/fonts/MiSans-Demibold.woff2');
}
